/*

!/.gitignore
!/.gitconfig
!/.gitignore_global
!/.ideavimrc
!/.linkignore
!/.zprofile
!/.zshenv
!/.zshrc
!/Makefile
!/README.md

!/.aws/
!/.github/
!/.hammerspoon/
!/scripts/
!/.config/
!/chrome/
!/vscode/

/.aws/*
!/.aws/config

/.config/*
/.config/**
!/.config/gh
!/.config/karabiner
!/.config/kitty
!/.config/nvim

/chrome/*
!/chrome/extensions

/vscode/*
!/vscode/extensions
!/vscode/settings.json